cpp/3_sem/practice/.codelite
cpp/3_sem/practice/CMakeFiles
cpp/3_sem/practice/.codelite/*
cpp/3_sem/practice/.codelite/
cpp/3_sem/practice/CMakeFiles/*
cpp/3_sem/practice/CMakeFiles/
cpp/3_sem/practice/CMakeCache.txt
cpp/3_sem/practice/Makefile
cpp/3_sem/practice/cmake_install.cmake
cpp/3_sem/practice/3d_math_lib
cpp/3_sem/practice/3d_math_lib.project
cpp/3_sem/practice/3d_math_lib.workspace
cpp/3_sem/practice/3d_math_lib.cbp
