html {
    width: 100%;
}

body {
    margin: 100px 50px 100px 50px;
}

.main-page {
    background-image: url("../images/bg.gif");
}

.about-page {
    background-color: #cccccc;
    color: #ffffff; 
}


a {
    color: green;
}

a:active, a:focus {
    color: red;
}

a:hover {
    color: red;
}

a:visited { 
    color: blue;
}

header {
    width: 70%;
    float: right;
}

.logo {
    width: 30%;
    float: left;
}

nav {
    width: 30%;
    float: left;
}

.main-content {
    width: 70%;
    float: right;
}

.table-example {
    width: 90%;
    background: yellow;
    /*border-spacing: 7px;*/
}